@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
/*font-family: "Noto Sans Arabic", sans-serif; */

:root {
    --mainWhite: #E9E3D5;
    --material1: #C6A988;
    --material2: #6F4E37;
    --material3: #4A2920;
    --material4: #492310;
    --material5: #2D0C05;
    --material6-orange: #D99937;
    --text: #090604;
    --buttonHover: #c6a98871;
    --buttonShadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    --mugShadow: -4px 7px 7px rgba(0, 0, 0, 0.2);
    background-color: var(--material1);
}

* {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans Arabic", sans-serif;
    color: var(--text);
    margin: 0;
}

main {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    height: calc(100vh - 10px);
    background-image: url("./../Main\ page\ photos/wallpaper.png");
    background-color: var(--mainWhite);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: repeat;
    overflow: hidden;
}

button {
    font-family: "Noto Sans Arabic", sans-serif;
    color: var(--text);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    a#logo {
        height: 60px;
        width: 60px;
        animation-name: slidedown;
        animation-duration: 2000ms;
        animation-fill-mode: both;
    }

    a#logo img {
        background-color: var(--material1);
        width: inherit;
        border-radius: 50%;
    }

    .humburger {
        cursor: pointer;
        height: 40px;
        width: 50px;
        margin-right: -10px;
        background-color: var(--material1);
        border: none;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        padding: 5px;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        .bar {
            width: 25px;
            height: 4px;
            background-color: var(--material4);
            margin: 2px;
            border-radius: 3px;
        }
    }

    .nav-buttons {
        list-style-type: none;
        margin: 0;
        padding: 5px;
        border-radius: 30px;
        background-color: var(--material1);
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        animation-name: slidedown;
        animation-duration: 2300ms;
        animation-delay: 200ms;
        animation-fill-mode: both;
        font-weight: 400;

        a {
            text-decoration: none;
            color: var(--text);
            padding: 0 10px;
            width: fit-content;
            height: fit-content;
            border-radius: 20px;
            transition: 200ms;
        }

        a:hover {
            background-color: #6f4e3761;
        }

        a:active {
            background-color: var(--material4);
            color: var(--mainWhite);
        }

        #main {
            background-color: var(--material4);
            color: var(--mainWhite);
            pointer-events: none;
        }
    }

    #menu {
        position: relative;
        z-index: 2;
    }
}

.humburger::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 20px;
    bottom: 40px;
    right: 0;
    border-bottom-right-radius: 10px;
    box-shadow: 4px 2px 0 2px var(--material1);
    background-color: transparent;
}

.humburger::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 20px;
    top: 40px;
    right: 0;
    border-top-right-radius: 15px;
    box-shadow: 4px -2px 0 2px var(--material1);
    background-color: transparent;
}

section {
    direction: rtl;
}

.headline {
    font-size: 30px;
    margin-right: 5px;
    margin-top: 70px;
    line-height: 45px;
    animation-name: slideleft;
    animation-duration: 2000ms;
    animation-fill-mode: both;

    h1 {
        color: var(--material5);
        margin-bottom: 0;
        font-weight: 900;
        animation-name: slideleft;
        animation-duration: 2000ms;
    }

    span {
        font-size: 20px;
        font-weight: 550;
        color: var(--material6-orange);
        animation-name: slideleft;
        animation-duration: 2000ms;
    }
}

.buttons {
    margin-top: 50px;
    width: 100%;
    margin-right: 20px;

    button {
        width: 30%;
        margin-left: 20px;
        border-radius: 20px;
        border: none;
        color: var(--text);
        transition: 200ms;
        box-shadow: var(--buttonShadow);
        padding: 5px;
    }

    #first-button {
        background-color: var(--material1);
        outline: 3px solid var(--material1);
        animation-name: scale;
        animation-duration: 2000ms;
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }

    #first-button:hover {
        background-color: var(--buttonHover);
        outline: transparent;
    }

    #sec-button {
        background-color: transparent;
        outline: 3px solid var(--material1);
        animation-name: scale;
        animation-duration: 2000ms;
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
        animation-fill-mode: both;
        animation-delay: 200ms;
    }

    #sec-button:hover {
        background-color: var(--material1);
        outline: transparent;
    }
}

.photo-space {
    display: flex;
    justify-content: space-between;
    position: relative;

    #mug {
        width: 400px;
        transform: rotate(7deg) translateX(100px);
        filter: drop-shadow(var(--mugShadow));
        animation-name: slideleftMug;
        animation-duration: 2400ms;
        animation-fill-mode: both;
    }

    #coffee-beans {
        width: 600px;
        position: absolute;
        left: -400px;
        bottom: -150px;
        filter: drop-shadow(var(--mugShadow));
        animation-name: slideright;
        animation-duration: 2400ms;
    }
}

@media (max-width:570px) {
    body {
        overflow: hidden;
    }

    nav .humburger {
        display: flex;
    }

    #logo {
        animation-play-state: paused;
        animation-direction: reverse;
        width: 50px;
        height: 50px;
    }

    nav .nav-buttons {
        position: absolute;
        animation-play-state: paused;
        animation-direction: reverse;
        flex-direction: column;
        right: -156px;
        top: -20px;
        direction: rtl;
        border-radius: 0 0 0 15px;
        padding: 10px;

        a {
            width: 100%;
            border-radius: 10px;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        width: 100%;
        gap: 12px;

        button {
            width: 78%;
        }
    }

    .photo-space {

        #mug {
            width: 300px;
        }

        #coffee-beans {
            width: 500px;
            left: -350px;
        }
    }
}

@keyframes slidedown {
    0% {
        transform: translateY(-100px);
    }
}

@keyframes slideleft {
    0% {
        transform: translateX(200px);
    }
}

@keyframes slideleftMug {
    0% {
        transform: translateX(500px);
    }
}

@keyframes slideright {
    0% {
        transform: translateX(-200px);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.7);
    }
}