@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
/*font-family: "Noto Sans Arabic", sans-serif; */

:root {
    --mainWhite: #E9E3D5;
    --material1: #C6A988;
    --material2: #6F4E37;
    --material3: #4A2920;
    --material4: #492310;
    --material5: #2D0C05;
    --material6-orange: #D99937;
    --text: #090604;
    --buttonHover: #c6a98871;
    --buttonShadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    scrollbar-color: var(--mainWhite) var(--buttonHover);
    scrollbar-width: auto;
}

* {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--mainWhite);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--buttonHover);
}

::-webkit-scrollbar-track {
    background: var(--buttonHover);
}

body {
    font-family: "Noto Sans Arabic", sans-serif;
    color: var(--text);
    margin: 0;
    background-color: var(--material2);
    background-image: url("./../3D\ models/coffee beans transparent.webp");
    background-size: 70%;
    background-position: top;
}

main {
    margin-top: 90px;
    direction: rtl;
}

header {
    position: fixed;
    z-index: 5;
    left: 5px;
    right: 5px;
    top: 5px;
    direction: ltr;
    animation-name: slideDown;
    animation-duration: 2100ms;
}

nav {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: var(--mainWhite);
    border-radius: 50px;
    background-image: url("./../Main\ page\ photos/wallpaper.png");
    background-color: var(--mainWhite);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: repeat;
    box-shadow: var(--buttonShadow);

    h1 {
        margin: 0;
        color: var(--material5);
        animation-name: slideDown;
        animation-duration: 2400ms;
    }

    a#logo {
        height: 55px;
        width: 55px;
        animation-name: slidedown;
        animation-duration: 2000ms;
        animation-fill-mode: both;
        animation-name: slideDown;
        animation-duration: 2150ms;
    }

    a#logo img {
        background-color: var(--material1);
        width: inherit;
        border-radius: 50%;
    }

    .humburger {
        cursor: pointer;
        height: 55px;
        width: 55px;
        background-color: var(--material1);
        border: none;
        border-radius: 50%;
        padding: 5px;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        animation-name: slideDown;
        animation-duration: 2700ms;

        .bar {
            width: 25px;
            height: 4px;
            background-color: var(--material4);
            margin: 2px;
            border-radius: 3px;
        }
    }

    #menu-nav {
        position: relative;
        z-index: 2;
    }
}

.nav-buttons {
    animation-name: slideDown;
    animation-duration: 2700ms;
}

.nav-buttons,
.nav-buttons-small {
    list-style-type: none;
    margin: 0 5px 0 0;
    padding: 5px;
    border-radius: 30px;
    background-color: var(--material1);
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    font-weight: 400;

    a {
        text-decoration: none;
        color: var(--text);
        padding: 0 10px;
        width: fit-content;
        height: fit-content;
        border-radius: 20px;
        transition: 200ms;
    }

    a:hover {
        background-color: #6f4e3761;
    }

    a:active {
        background-color: var(--material4);
        color: var(--mainWhite);
    }

    #menu {
        background-color: var(--material4);
        color: white;
        pointer-events: none;
    }
}

.nav-buttons-small {
    display: none;
}

section.most-orderd {
    color: white;

    h2 {
        margin: 0 50px;
        font-size: 30px;
        position: relative;
        animation-name: slideUp;
        animation-duration: 1500ms;
        animation-delay: 500ms;
        animation-fill-mode: both;
    }

    h2::before {
        content: '';
        width: 9px;
        height: 70%;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: -20px;
        background-color: var(--mainWhite);
    }

    .content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        overflow: auto;
        padding: 20px;
        animation-name: slideUp;
        animation-duration: 2000ms;
        animation-delay: 500ms;
        animation-fill-mode: both;

        figure {
            flex: 0 0 200px;
            background-color: var(--material1);
            border-radius: 20px;
            margin: 22px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: var(--buttonShadow);

            img {
                width: 100%;
                border-radius: 10px;
            }

            figcaption {
                font-weight: bold;
                font-size: 20px;
            }

            span {
                direction: ltr;
                margin-top: -5px;
            }

            span::after {
                content: " EGP";
            }
        }
    }
}


.menu {
    background-image: url("./../Main\ page\ photos/wallpaper.png");
    background-color: var(--mainWhite);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: repeat;
    box-shadow: 0 -2px 7px rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    animation-name: slideUp;
    animation-duration: 2500ms;
    animation-delay: 500ms;
    animation-fill-mode: both;

    h2 {
        position: relative;
        margin: 20px;
    }

    h2::before {
        content: '';
        width: 9px;
        height: 70%;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: -20px;
        background-color: var(--material3);
    }

    >div {
        width: fit-content;
        margin: 0 0 90px 0;

        .menu-content {
            background-color: var(--material1);
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        figure {
            flex: 1 0 180px;
            max-width: 250px;
            width: 200px;
            background-color: var(--mainWhite);
            border-radius: 10px;
            padding: 10px;
            margin: 15px;
            box-shadow: var(--buttonShadow);
            transition: 200ms;

            img {
                width: 100%;
                border-radius: 5px;
            }

            figcaption {
                font-weight: 600;
                margin-top: -7px;
            }
        }

        figure:hover {
            opacity: .85;
        }

        .drink-info {

            .price-info {
                direction: ltr;
                display: flex;
                justify-content: space-between;

                span {
                    margin-top: -15px;
                }

                .col1 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    font-weight: 800;
                }

                .col2 {
                    flex: 2 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .col2 span::after {
                    content: " EGP";
                }
            }

            p {
                margin: 10px 0 0 0;
                line-height: 20px;
            }
        }
    }
}

.fast-scroll {
    position: fixed;
    bottom: 0;

    #fast-scroll-button {
        border: none;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background-color: var(--material6-orange);
        color: white;
        margin-bottom: 20px;
        margin-right: 20px;
        box-shadow: var(--buttonShadow);
        transition: 100ms;
        animation-name: slideLeft;
        animation-duration: 2100ms;
    }

    #fast-scroll-button:hover {
        opacity: 0.8;
    }

    .fast-scroll-links {
        visibility: hidden;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px;
        background-color: var(--material6-orange);
        border-radius: 10px 10px 0 0;
        padding: 5px;
        box-shadow: 0 -2px 7px rgba(0, 0, 0, 0.2);

        a {
            text-decoration: none;
            color: white;
            font-weight: 500;
            padding: 10px;
            border-radius: 5px;
            transition: 100ms;
        }
    }

    a:hover {
        background-color: var(--buttonHover);
    }

    a:active {
        background-color: #896124;
    }
}

/* .fast-scroll-links::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: -20px;
    background-color: transparent;
    border-radius: 0 0 15px 0;
    box-shadow: 3px 4px 0 1px var(--material2);
}

.fast-scroll-links::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: -20px;
    background-color: transparent;
    border-radius: 0 0 0 15px;
    box-shadow: -3px 4px 0 1px var(--material2);
} */

@keyframes slideDown {
    0% {
        transform: translateY(-100px);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(150px);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
}

@media (max-width:750px) {
    .nav-buttons {
        display: none;
    }

    nav .humburger {
        display: flex;
    }

    .nav-buttons-small {
        /*JavaScript issue*/
        visibility: hidden;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        border-radius: 0 0 10px 10px;
        box-shadow: var(--buttonShadow);
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 0;
        width: 200px;
        height: 200px;

        a {
            border-radius: 5px;
            width: 100%;
        }
    }

    section.most-orderd {
        h2 {
            font-size: 22px;
            margin-right: 35px;
        }

        .content {
            padding: 0;

            figure {
                flex: 0 0 150px;
                max-width: 170px;
                margin: 10px;

                figcaption {
                    font-size: 17px;
                }

                span {
                    font-size: 15px;
                }
            }
        }

    }

    .menu {
        >div {
            figure {
                flex: 1 0 150px;
                max-width: 170px;
                margin: 10px;
            }
        }
    }

    .fast-scroll {
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        gap: 2px;
        width: 95%;
    }
}